<h3 class='popover-header'>
  <div class='text-center text-break font-weight-bold pl-1'>
    Communication Information
  </div>
</h3>
<div class='popover-body'>
  <table class='w-100'>
    <tbody>
      {{! Aggregated Information }}
      {{#if
        (gt @communication.aggregatedClassCommunication.methodCalls.length 1)
      }}
        {{! Aggregated request count }}
        <tr>
          <td class='text-nowrap align-top'>{{svg-jar
              'code-16'
              class='octicon align-middle mr-1'
            }}</td>
          <td class='text-right text-break pl-1'>
            {{@communication.aggregatedClassCommunication.totalRequests}}
            ( 100% )
          </td>
        </tr>
        {{! # of unique method calls }}
        <tr>
          <td class='text-nowrap align-top'>#</td>
          <td class='text-right text-break pl-1'>
            {{@communication.aggregatedClassCommunication.methodCalls.length}}
          </td>
        </tr>
        <hr />
      {{/if}}
      {{#each
        @communication.aggregatedClassCommunication.methodCalls
        as |aggregatedClassCommu index|
      }}
        {{! Relationship }}
        <tr>
          <td class='text-nowrap align-top'>{{svg-jar
              'arrow-switch-16'
              class='octicon align-middle mr-1'
            }}</td>
          <td class='text-right text-break pl-1'>
            {{#if (eq aggregatedClassCommu.sourceApp.id this.application.id)}}
              <button
                type='button'
                class='buttonToLink'
                {{on
                  'click'
                  (fn
                    this.highlightEntity
                    aggregatedClassCommu.sourceClass
                    aggregatedClassCommu.sourceApp.id
                  )
                }}
              >
                {{aggregatedClassCommu.sourceClass.name}}
                <BsTooltip @placement='top' @triggerEvents='hover'>
                  Application:
                  {{aggregatedClassCommu.sourceApp.name}}
                </BsTooltip>
              </button>
            {{else}}
              {{aggregatedClassCommu.sourceClass.name}}
              <BsTooltip @placement='top' @triggerEvents='hover'>
                Application:
                {{aggregatedClassCommu.sourceApp.name}}
              </BsTooltip>
            {{/if}}
            {{#unless
              (eq aggregatedClassCommu.sourceApp.id this.application.id)
            }}
              (<button
                type='button'
                class='buttonToLink'
                {{on
                  'click'
                  (fn @showApplication aggregatedClassCommu.sourceApp.id)
                }}
              >
                {{aggregatedClassCommu.sourceApp.name}}
              </button>)
            {{/unless}}
            {{svg-jar 'arrow-right-16' class='octicon align-middle'}}
            {{#if (eq aggregatedClassCommu.targetApp.id this.application.id)}}
              <button
                type='button'
                class='buttonToLink'
                {{on
                  'click'
                  (fn
                    this.highlightEntity
                    aggregatedClassCommu.targetClass
                    aggregatedClassCommu.targetApp.id
                  )
                }}
              >
                {{aggregatedClassCommu.targetClass.name}}
                <BsTooltip @placement='top' @triggerEvents='hover'>
                  Application:
                  {{aggregatedClassCommu.targetApp.name}}
                </BsTooltip>
              </button>
            {{else}}
              <button
                type='button'
                class='buttonToLink'
                {{on
                  'click'
                  (fn
                    this.highlightEntity
                    aggregatedClassCommu.targetClass
                    aggregatedClassCommu.targetApp.id
                  )
                }}
              >
                {{aggregatedClassCommu.targetClass.name}}
                <BsTooltip @placement='top' @triggerEvents='hover'>
                  Application:
                  {{aggregatedClassCommu.targetApp.name}}
                </BsTooltip>
              </button>
            {{/if}}
          </td>
        </tr>
        {{! Name }}
        <tr>
          <Visualization::Rendering::Popups::Interactable-Properties::EditOperationName
            @communication={{aggregatedClassCommu}}
          />
        </tr>
        {{! Requests }}
        <tr>
          <td class='text-nowrap align-top'>{{svg-jar
              'code-16'
              class='octicon align-middle mr-1'
            }}</td>
          <td class='text-right text-break pl-1'>
            {{aggregatedClassCommu.totalRequests}}
            (
            {{round
              (mult
                (div
                  aggregatedClassCommu.totalRequests
                  this.calculateAggregatedRequestCount
                )
                100
              )
            }}% )
          </td>
        </tr>
        {{#if this.landscapeRestructure.restructureMode}}
          <Visualization::Rendering::Popups::Interactable-Properties::EditCommMesh
            @aggregatedClassComm={{aggregatedClassCommu}}
          />
        {{/if}}
        {{#if (lt index (sub @communication.aggregatedClassCommus.length 1))}}
          <hr />
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>