{{#if (eq this.collaborationSession.connectionStatus 'online')}}
  <div>
    <label class='bold'>Room: </label>
    <label>{{this.collaborationSession.currentRoomId}}</label>
  </div>

  <div>
    <label class='bold'>Landscape: </label>
    <select
      class='form-select'
      aria-label='Default select example'
      style='max-width: calc(100% - 100px);'
      {{on 'change' this.landscapeSelected}}
    >
      {{#each this.landscapeTokens as |token|}}
        <option
          selected={{eq token.value this.tokenService.token.value}}
          value={{token.value}}
        >{{token.alias}}</option>
      {{/each}}
    </select>
  </div>

  {{! Indicator that device should be in control of spectating configurations }}
  {{#if this.deviceId}}
    <div>
      <label class='bold'>Spectate Configuration: </label>
      <select
        class='form-select'
        aria-label='Default select example'
        {{on 'change' this.configurationSelected}}
      >
        <option value='default'>Default</option>
        <option value='arena-2'>ARENA2</option>
        <option value='fhd-monitors'>Full HD monitors</option>
      </select>
      <BsButton
      title='New Configuration'
      {{on 'click' this.openSpectateConfigModal}}
      @type='secondary'
      @outline={{true}}
    >
      {{svg-jar 'diff-added-16' class='octicon'}}
    </BsButton>
    </div>
  {{/if}}

  <label class='bold'>Users:</label>

  <ul>
    {{#each this.users as |user|}}
      <div class='flex-space-between collaboration-list-item'>
        <li style={{html-safe user.style}}>
          <div class='nav-link-with-cursor'>
            {{user.name}}
          </div>
        </li>
        {{#if user.isLocalUser}}
          <BsButton
            title='Share settings with other users'
            {{on 'click' this.shareSettings}}
            @type='primary'
            @outline={{true}}
          >
            Share Settings
          </BsButton>
        {{/if}}
        {{#if user.isSpectatable}}
          <BsButton
            title={{if user.isSpectatedByUs 'End Spectating' 'Spectate'}}
            {{on 'click' (fn this.toggleSpectate user)}}
            @type={{if user.isSpectatedByUs 'danger' 'success'}}
            @outline={{true}}
          >
            {{svg-jar 'device-camera-video-16' class='octicon align-middle'}}
          </BsButton>
        {{/if}}
      </div>
    {{/each}}
  </ul>

{{/if}}

{{#if (eq this.collaborationSession.connectionStatus 'offline')}}
  <div class='flex-space-between'>
    <label class='bold'>{{if this.rooms 'Rooms:' 'No rooms available'}}</label>

    <BsButton
      title='Reload Rooms'
      {{on 'click' this.loadRooms}}
      @type='secondary'
      @outline={{true}}
    >
      {{svg-jar 'sync-16' class='octicon'}}
    </BsButton>
  </div>

  <ul>
    {{#each this.rooms as |room|}}
      <div class='flex-space-between collaboration-list-item'>
        <li>
          {{room.roomName}}
        </li>
        <BsButton
          title='Join Room'
          {{on 'click' (fn this.joinRoom room)}}
          @type='success'
          @outline={{true}}
        >
          Join
        </BsButton>
      </div>
    {{/each}}
  </ul>

  {{#if this.timestampService.timestamp}}
    <BsButton
      title='Host Room'
      {{on 'click' this.hostRoom}}
      @type='secondary'
      @outline={{true}}
    >
      Host Room
    </BsButton>
  {{else}}
    <label class='bold'>No landscape data available. Cannot host room. </label>
  {{/if}}
{{/if}}

{{#if (eq this.collaborationSession.connectionStatus 'online')}}
  <BsButton
    title='Disconnect from Room'
    {{on 'click' this.leaveSession}}
    @type='danger'
    @outline={{true}}
  >
    Disconnect
  </BsButton>
{{/if}}
<div>
  <BsModal
    @open={{this.spectateConfigModal}}
    @onHidden={{this.closeSpectateConfigModal}}
    as |modal|
  >
    <modal.header>
      <h4 class='modal-title'>Create Spectate Configuration</h4>
    </modal.header>
    <modal.body>
      <label for='name'>Spectate Configuration Name:</label>
      <div class='d-flex justify-content-between'>
        <input
          id='name'
          class='form-control mr-2'
          oninput={{this.updateName}}
          value={{this.spectateConfigName}}
        />
      </div>

      <label class='mt-2'>Devices</label>
      {{#each this.spectateConfigDevices as |device index|}}
        <div class='ml-3'>
          <hr>
          <label for='deviceId'>Device ID</label>
          <div class='d-flex justify-content-between'>
            <input
              id='deviceId'
              class='form-control mr-2'
              type='text'
              placeholder='DeviceId'
              value={{device.deviceId}}
              {{on 'input' (fn this.updateDeviceId index)}}
            />
            <button
              type='button'
              class='btn btn-sm'
              title='Delete Device'
              onclick={{fn this.deleteDevice index}}
            >{{svg-jar 'x-16' class='octicon align-right'}}</button>
          </div>
          <ul></ul>
          <div class='d-flex flex-column justify-content-between'>
            <label for='projectionMatrix'>Projection Matrix</label>
            <div class='d-flex justify-content-between'>
              <Input
                id='mn11'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 0)}}
              />
              <Input
                id='mn12'
                class="matrixNumber matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 1)}}
              />
              <Input
                id='mn13'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 2)}}
              />
              <Input
                id='mn14'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 3)}}
              />
            </div>
            <ul></ul>
            <div class='d-flex justify-content-between'>
              <Input
                id='mn21'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 4)}}
              />
              <Input
                id='mn22'
                class="matrixNumber matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 5)}}
              />
              <Input
                id='mn23'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 6)}}
              />
              <Input
                id='mn24'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 7)}}
              />
            </div>
            <ul></ul>
            <div class='d-flex justify-content-between'>
              <Input
                id='mn31'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 8)}}
              />
              <Input
                id='mn32'
                class="matrixNumber matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 9)}}
              />
              <Input
                id='mn33'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 10)}}
              />
              <Input
                id='mn34'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 11)}}
              />
            </div>
            <ul></ul>
            <div class='d-flex justify-content-between'>
              <Input
                id='mn41'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 12)}}
              />
              <Input
                id='mn42'
                class="matrixNumber matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 13)}}
              />
              <Input
                id='mn43'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 14)}}
              />
              <Input
                id='mn44'
                class="matrixNumber form-control mr-2"
                @type='number'
                inputmode='numeric'
                required
                {{on 'input' (fn this.updateMatrix index 15)}}
              />
            </div>
          </div>
          <ul></ul>
        </div>
      {{/each}}

      <div class='ml-3'>
        <div class='d-flex justify-content-between'>
          <BsButton
            title='Create Device'
            {{on 'click' this.createDevice}}
            @type='secondary'
            @outline={{true}}
          >Create Device</BsButton>
        </div>
      </div>
    </modal.body>
    <modal.footer>
      <BsButton
        @outline={{true}}
        @type='danger'
        @onClick={{this.closeSpectateConfigModal}}
      >Cancel</BsButton>
      <BsButton
        title='Create'
        @type='secondary'
        @outline={{true}}
        @onClick={{this.createSpectateConfig}}
        disabled={{this.createSpectateConfigBtnDisabled}}
      >Create</BsButton>
    </modal.footer>
  </BsModal>
</div>