{{#each-in
  this.classnameToCommitAndClassMetricsArray
  as |classname commitAndClassMetricsArray|
}}
  <div class='card mb-4'>
    <div class='card-header'>
      <strong>Class Name:</strong>
      {{classname}}
    </div>
    <div class='card-body'>
      <table class='table table-sm'>
        <thead>
          <tr>
            <th>Commit:</th>
            {{#each
              commitAndClassMetricsArray
              as |commitAndClassMetricsObject index|
            }}
              <th class='text-left'>{{this.shortCommitIdentifierForTable
                  index
                }}<div
                  {{react
                    this.helpTooltipComponent
                    title=commitAndClassMetricsObject.commitId
                  }}
                /></th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>LOC:</th>
            {{#each
              commitAndClassMetricsArray
              as |commitAndClassMetricsObject|
            }}
              <th
                class='text-left'
              >{{commitAndClassMetricsObject.classMetric.loc}}</th>
            {{/each}}
          </tr>
          <tr>
            <th>LCOM4:</th>
            {{#each
              commitAndClassMetricsArray
              as |commitAndClassMetricsObject|
            }}
              <th
                class='text-left'
              >{{commitAndClassMetricsObject.classMetric.LCOM4}}</th>
            {{/each}}
          </tr>
          <tr>
            <th>Cyclomatic complexity:</th>
            {{#each
              commitAndClassMetricsArray
              as |commitAndClassMetricsObject|
            }}
              <th
                class='text-left'
              >{{commitAndClassMetricsObject.classMetric.cyclomatic_complexity}}</th>
            {{/each}}
          </tr>
          <tr>
            <th>Cyclomatic complexity (weighted):</th>
            {{#each
              commitAndClassMetricsArray
              as |commitAndClassMetricsObject|
            }}
              <th
                class='text-left'
              >{{commitAndClassMetricsObject.classMetric.cyclomatic_complexity_weighted}}</th>
            {{/each}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{{/each-in}}