<Visualization::Rendering::Popups::Interactable-Properties::InteractiveHeader
  @entity={{@application}}
/>
<div class='popover-body'>
  <table class='w-100'>
    <tbody>
      <tr>
        <td>Instance ID:</td>
        <td class='text-right text-break pl-1'>
          {{@application.instanceId}}
        </td>
      </tr>
      <tr>
        <td>Language:</td>
        <td class='text-right text-break pl-1'>
          {{@application.language}}
        </td>
      </tr>
      <tr>
        <td>Contained Classes:</td>
        <td class='text-right text-break pl-1'>
          {{this.clazzCount}}
        </td>
      </tr>
      <tr>
        <td>Contained Packages:</td>
        <td class='text-right text-break pl-1'>
          {{this.packageCount}}
        </td>
      </tr>
    </tbody>
  </table>
</div>