<div
  class='p-3 disable-select pointer-events-none'
  style='position: absolute; width: 100vw; z-index: 1000;'
>
  <div
    class='btn-group pointer-events-all'
    {{on 'click' this.goToLandscapeSelection}}
  >
    <img
      style='height: 30px; float: left'
      src='images/explorviz-30px.png'
      alt='ExplorViz'
      draggable='false'
    />
  </div>
  {{#unless this.isSingleLandscapeMode}}
    {{#if this.tokenService.token}}
      <div class='navbar-token-link pointer-events-all d-none d-md-block'>
        <span
          class='d-flex-center'
          type='button'
          {{on 'click' this.goToLandscapeSelection}}
        >
          {{svg-jar
            'key-16'
            class='octicon'
          }}&nbsp;{{this.tokenService.token.alias}}
        </span>
      </div>
    {{else if this.tokenService.latestToken}}
      <div class='navbar-token-link pointer-events-all d-none d-md-block'>
        <span
          class='d-flex-center'
          type='button'
          {{on 'click' this.goToVisualization}}
        >
          {{svg-jar
            'iterations-16'
            class='octicon'
          }}&nbsp;{{this.tokenService.latestToken.alias}}
        </span>
      </div>
    {{/if}}
  {{/unless}}
  <div id='navbar-user-options' class='btn-group pointer-events-all'>
    <PageSetup::StatusIcons />
    <div class='btn-group' style='margin-left: 1rem;'>
      <button
        type='button'
        class='dropdown-toggle navbar-user-button'
        data-toggle='dropdown'
        aria-expanded='false'
      >
        {{#if this.auth.user.picture}}
          <img
            src={{this.auth.user.picture}}
            alt='User profile'
            width='16px'
            height='16px'
          />
        {{else}}
          {{svg-jar 'person-16' class='octicon'}}
        {{/if}}
      </button>

      <ul class='dropdown-menu dropdown-menu-right'>
        <li>
          <div class='dropdown-header'>
            <div><strong class='truncate-text'>{{svg-jar
                  'person-16'
                  class='octicon'
                }}
                {{this.auth.user.nickname}}</strong></div>
            <span class='truncate-text'>{{svg-jar
                'id-badge-16'
                class='octicon'
              }}
              {{this.auth.user.sub}}</span>
          </div></li>
        <li>
          <button
            class='dropdown-item'
            type='button'
            {{on 'click' this.goToSettings}}
          >
            {{svg-jar 'gear-16' class='octicon'}}
            Settings
          </button>
        </li>
        {{#if this.tokenService.token}}
          <li>
            <button
              class='dropdown-item'
              type='button'
              {{on 'click' this.goToLandscapeSelection}}
            >
              {{svg-jar 'key-16' class='octicon'}}
              {{this.tokenService.token.alias}}
            </button>
          </li>
        {{/if}}
        <li>
          <button
            class='dropdown-item'
            type='button'
            {{on 'click' this.logout}}
          >
            {{svg-jar 'sign-out-16' class='octicon'}}
            Logout
          </button>
        </li>
        <li><hr class='dropdown-divider' /></li>
        <li>
          <div class='dropdown-item disabled'>
            Version:
            {{this.versionTag}}
          </div></li>
      </ul>
    </div>
  </div>
</div>