<div
  class='p-3 disable-select pointer-events-none'
  style='position: absolute; width: 100vw; z-index: 1000;'
>
  <img
    style='height: 30px; float: left'
    src='images/explorviz-30px.png'
    alt='ExplorViz'
    draggable='false'
  />
  {{#unless this.isSingleLandscapeMode}}
    {{#if this.tokenService.token}}
      <div class='navbar-token-link pointer-events-all d-none d-md-block'>
        <LinkTo @route='landscapes' class='d-flex-center'>
          {{svg-jar 'key-16' class='octicon'}}
          <span>{{this.tokenService.token.alias}}</span>
        </LinkTo>
      </div>
    {{/if}}
  {{/unless}}
  <div id='navbar-user-options' class='btn-group pointer-events-all'>
    <div class='btn-group'>
      <button
        type='button'
        class='dropdown-toggle navbar-user-button'
        data-toggle='dropdown'
        aria-expanded='false'
      >
        {{svg-jar 'person-16' class='octicon'}}
      </button>

      <ul class='dropdown-menu dropdown-menu-right'>
        <li>
          <div class='dropdown-header'>
            <div><strong class='truncate-text'>{{svg-jar
                  'person-16'
                  class='octicon'
                }}
                {{this.auth.user.nickname}}</strong></div>
            <span class='truncate-text'>{{svg-jar
                'id-badge-16'
                class='octicon'
              }}
              {{this.auth.user.sub}}</span>
          </div></li>
        <li>
          <button
            class='dropdown-item'
            type='button'
            {{on 'click' this.goToLandscapeSelection}}
          >
            {{svg-jar 'key-16' class='octicon'}}
            {{this.tokenService.token.alias}}
          </button>
        </li>
        <li>
          <button
            class='dropdown-item'
            type='button'
            {{on 'click' this.logout}}
          >
            {{svg-jar 'sign-out-16' class='octicon'}}
            Logout
          </button>
        </li>
        <li><hr class='dropdown-divider' /></li>
        <li>
          <div class='dropdown-item disabled'>
            Version:
            {{this.versionTag}}
          </div></li>
      </ul>
    </div>
  </div>
</div>