<div class='row h-100'>
  <div class='d-flex flex-column h-100 col-12'>
    <div
      id='rendering'
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      {{#unless @showToolsSidebar}}
        <div class='sidebar-tools-button foreground mt-6'>
          <BsButton
            id='toolsOpener'
            @onClick={{@openToolsSidebar}}
            @type='secondary'
            @outline={{true}}
            title='Settings'
          >
            {{svg-jar 'tools-16' class='octicon align-middle'}}
          </BsButton>
        </div>
      {{/unless}}
      {{#unless @showSettingsSidebar}}
        <div class='sidebar-open-button foreground mt-6'>
          <BsButton
            id='settingsOpener'
            @onClick={{@openSettingsSidebar}}
            @type='secondary'
            @outline={{true}}
            title='Settings'
          >
            {{svg-jar 'gear-16' class='octicon align-middle'}}
          </BsButton>
        </div>
      {{/unless}}

      {{#if this.heatmapConf.heatmapActive}}
        <HeatmapInfo @updateMetric={{this.heatmapConf.updateMetric}} />
      {{/if}}

      <canvas
        class='main-content-majority
          {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}'
        {{sync-state}}
        {{interaction-modifier
          raycastObjects=this.raycastObjects
          camera=this.localUser.camera
          singleClick=this.handleSingleClick
          doubleClick=this.handleDoubleClick
          mouseMove=this.handleMouseMove
          mouseOut=this.handleMouseOut
          mouseStop=this.handleMouseStop
        }}
        {{heatmap-renderer camera=this.camera scene=this.scene}}
        {{collaborative-modifier
          raycastObject3D=this.raycastObjects
          camera=this.localUser.camera
        }}
        {{did-insert this.canvasInserted}}
      >
        <ContextMenu @items={{this.rightClickMenuItems}} />
      </canvas>
      {{#if this.loadNewLandscape.isRunning}}
        <div class='position-absolute mt-6 pt-5 ml-3 pointer-events-none'>
          <Visualization::Rendering::LoadingIndicator
            @text='Loading New Landscape'
          />
        </div>
      {{/if}}

      {{! popup(s) }}
      {{#each this.popupHandler.popupData as |d|}}
        <Visualization::Rendering::Popups::PopupCoordinator
          @isMovable={{this.appSettings.enableCustomPopupPosition.value}}
          @popupData={{d}}
          @pinPopup={{this.popupHandler.pinPopup}}
          @sharePopup={{this.popupHandler.sharePopup}}
          @updateMeshReference={{this.popupHandler.updateMeshReference}}
          @removePopup={{this.removePopup}}
          @structureData={{@landscapeData.structureLandscapeData}}
          @showApplication={{this.showApplication}}
          @highlightModel={{this.applicationRenderer.highlightModel}}
          @openParents={{this.applicationRenderer.openParents}}
        />
      {{/each}}

    </div>
  </div>
  {{#if @showToolsSidebar}}
    <div class='position-absolute left col-4' id='toolselection'>
      <div class='mt-6 d-flex flex-row w-100' style='z-index: 90'>
        <Visualization::PageSetup::Sidebar::ToolSelection
          @closeToolSelection={{@closeToolsSidebar}}
        >
          <div class='explorviz-visualization-navbar'>
            <ul class='nav justify-content-center'>
              <Visualization::PageSetup::Navbar::ApplicationSearchOpener
                @toggleToolsSidebarComponent={{@toggleToolsSidebarComponent}}
              />
            </ul>
          </div>
          {{#each @componentsToolsSidebar as |componentName|}}
            <div class='card sidebar-card mt-3'>
              <div class='card-body d-flex flex-column'>
                {{#if (eq componentName 'application-search')}}
                  <h5 class='text-center'>Application Search</h5>
                  <Visualization::PageSetup::Sidebar::ApplicationSearch
                    @removeToolsSidebarComponent={{@removeToolsSidebarComponent}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::ToolSelection>
      </div>
    </div>
  {{/if}}
  {{#if @showSettingsSidebar}}
    <div class='position-absolute right col-4' id='dataselection'>
      <div class='mt-6 d-flex flex-row w-100' style='z-index: 90'>
        <Visualization::PageSetup::Sidebar::DataSelection
          @closeDataSelection={{@closeDataSelection}}
        >
          <div class='explorviz-visualization-navbar'>
            <ul class='nav justify-content-center'>
              {{!-- <Visualization::PageSetup::Navbar::TraceOverview
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
                @toggleVisualizationUpdating={{@toggleVisualizationUpdating}}
                @visualizationPaused={{@visualizationPaused}}
                @dynamicData={{@landscapeData.dynamicLandscapeData}}
              /> --}}
              <Visualization::PageSetup::Navbar::SettingsOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
              <Visualization::PageSetup::Navbar::XrCollaborationOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
              <Visualization::PageSetup::Navbar::XrVscodeExtensionSettingsOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
            </ul>
          </div>
          {{#each @components as |componentName|}}
            <div class='card sidebar-card mt-3'>
              <div class='card-body d-flex flex-column'>
                {{#if (eq componentName 'trace-selection')}}
                  <h5 class='text-center'>Trace Overview</h5>
                  {{#if this.selectedApplicationObject3D}}
                    <Visualization::PageSetup::Sidebar::TraceSelectionAndReplayer
                      @highlightTrace={{this.highlightTrace}}
                      @moveCameraTo={{this.moveCameraTo}}
                      @removeComponent={{@removeComponent}}
                      @removeHighlighting={{this.removeHighlighting}}
                      @dynamicData={{@landscapeData.dynamicLandscapeData}}
                      @structureData={{@landscapeData.structureLandscapeData}}
                      @application={{this.selectedApplicationObject3D.dataModel}}
                    />
                  {{else}}
                    Please select an application to use the trace overview.
                  {{/if}}
                {{/if}}
                {{#if (eq componentName 'settings')}}
                  <h5 class='text-center'>Settings</h5>
                  <Visualization::PageSetup::Sidebar::Settings
                    @isLandscapeView={{false}}
                    @updateHighlighting={{this.highlightingService.updateHighlightingForAllApplications}}
                    @redrawCommunication={{this.applicationRenderer.addCommunicationForAllApplications}}
                    @updateColors={{this.updateColors}}
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
                {{#if (eq componentName 'xr-collaboration')}}
                  <h5 class='text-center'>Collaboration</h5>
                  <Visualization::PageSetup::Sidebar::XrCollaboration
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
                {{#if (eq componentName 'xr-vscode-extension-settings')}}
                  <h5 class='text-center'>VSCode Extension Settings</h5>
                  <Visualization::PageSetup::Sidebar::XrVscodeExtensionSettings
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::DataSelection>
      </div>
    </div>
  {{/if}}
</div>