<div class='row h-100'>
  <div class='d-flex flex-column h-100 col-12'>
    <div
      id='rendering'
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      {{#unless @showToolsSidebar}}
        <div class='sidebar-tools-button foreground mt-6'>
          <BsButton
            id='toolsOpener'
            @onClick={{@openToolsSidebar}}
            @type='secondary'
            @outline={{true}}
            title='Settings'
          >
            {{svg-jar 'tools-16' class='octicon align-middle'}}
          </BsButton>
        </div>
      {{/unless}}
      {{#unless @showSettingsSidebar}}
        <div class='sidebar-open-button foreground mt-6'>
          <BsButton
            id='undoAction'
            @onClick={{@openSettingsSidebar}}
            @type='secondary'
            @outline={{true}}
            title='Settings'
          >
            {{svg-jar 'gear-16' class='octicon align-middle'}}
          </BsButton>
        </div>
      {{/unless}}

      {{#if this.heatmapConf.heatmapActive}}
        <HeatmapInfo @updateMetric={{this.heatmapConf.updateMetric}} />
      {{/if}}

      <canvas
        class='webgl {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}'
        {{sync-state}}
        {{interaction-modifier
          raycastObjects=this.raycastObjects
          camera=this.localUser.camera
          orthographicCamera=this.localUser.ortographicCamera
          singleClick=this.handleSingleClick
          doubleClick=this.handleDoubleClick
          mouseMove=this.handleMouseMove
          mouseOut=this.handleMouseOut
          mouseStop=this.handleMouseStop
          strgDown=this.handleStrgDown
          strgUp=this.handleStrgUp
          altDown=this.handleAltDown
          altUp=this.handleAltUp
          spaceDown=this.handleSpaceBar
        }}
        {{heatmap-renderer camera=this.camera scene=this.scene}}
        {{landscape-data-watcher landscapeData=@landscapeData graph=this.graph}}
        {{collaborative-modifier
          raycastObject3D=this.raycastObjects
          camera=this.localUser.camera
        }}
        {{did-insert this.canvasInserted}}
      >
        <ContextMenu @items={{this.rightClickMenuItems}} />
      </canvas>
      {{#if this.loadNewLandscape.isRunning}}
        <div class='position-absolute mt-6 pt-5 ml-3 pointer-events-none'>
          <Visualization::Rendering::LoadingIndicator
            @text='Loading New Landscape'
          />
        </div>
      {{/if}}

      {{! popup(s) }}
      {{#each this.popupHandler.popupData as |d|}}
        <Visualization::Rendering::Popups::PopupCoordinator
          @isMovable={{this.appSettings.enableCustomPopupPosition.value}}
          @popupData={{d}}
          @pinPopup={{this.popupHandler.pinPopup}}
          @sharePopup={{this.popupHandler.sharePopup}}
          @updateMeshReference={{this.popupHandler.updateMeshReference}}
          @removePopup={{this.removePopup}}
          @structureData={{@landscapeData.structureLandscapeData}}
          @showApplication={{this.showApplication}}
          @highlightById={{this.highlightingService.highlightById}}
          @openParents={{this.applicationRenderer.openParents}}
        />
      {{/each}}

    </div>
  </div>
  {{#if @showToolsSidebar}}
    <div class='sidebar left' id='toolselection'>
      <div class='mt-6 d-flex flex-row w-100' style='z-index: 90'>
        <Visualization::PageSetup::Sidebar::ToolSelection
          @closeToolSelection={{@closeToolsSidebar}}
        >
          <div class='explorviz-visualization-navbar'>
            <ul class='nav justify-content-center'>
              <Visualization::PageSetup::Navbar::ApplicationSearchOpener
                @toggleToolsSidebarComponent={{@toggleToolsSidebarComponent}}
              />
            </ul>
          </div>
          {{#each @componentsToolsSidebar as |componentId|}}
            <div class='card sidebar-card mt-3'>
              <div class='card-body d-flex flex-column'>
                {{#if (eq componentId 'application-search')}}
                  <h5 class='text-center'>Application Search</h5>
                  <Visualization::PageSetup::Sidebar::ApplicationSearch
                    @removeToolsSidebarComponent={{@removeToolsSidebarComponent}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::ToolSelection>
      </div>
    </div>
  {{/if}}
  {{#if @showSettingsSidebar}}
    <div class='sidebar right col-4' id='dataselection'>
      <div class='mt-6 d-flex flex-row w-100' style='z-index: 90'>
        <Visualization::PageSetup::Sidebar::DataSelection
          @closeDataSelection={{@closeDataSelection}}
        >
          <div class='explorviz-visualization-navbar'>
            <ul class='nav justify-content-center'>
              {{!-- <Visualization::PageSetup::Navbar::TraceOverview
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
                @toggleVisualizationUpdating={{@toggleVisualizationUpdating}}
                @visualizationPaused={{@visualizationPaused}}
                @dynamicData={{@landscapeData.dynamicLandscapeData}}
              /> --}}
              <Visualization::PageSetup::Navbar::CollaborationOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
              <Visualization::PageSetup::Navbar::VscodeExtensionSettingsOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
              <Visualization::PageSetup::Navbar::RestructureOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
              <Visualization::PageSetup::Navbar::SettingsOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
              <Visualization::PageSetup::Navbar::TraceReplayerOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
            </ul>
          </div>
          {{#each @components as |componentId|}}
            <Visualization::PageSetup::Sidebar::SidebarComponent
              @componentId={{componentId}}
            >
              {{#if (eq componentId 'Collaboration')}}
                <Visualization::PageSetup::Sidebar::CollaborationControls />
              {{/if}}
              {{#if (eq componentId 'VSCode-Extension-Settings')}}
                <Visualization::PageSetup::Sidebar::VscodeExtensionSettings />
              {{/if}}
              {{#if (eq componentId 'Restructure-Landscape')}}
                <Visualization::PageSetup::Sidebar::Restructure
                  @landscapeData={{@landscapeData}}
                  @restructureLandscape={{@restructureLandscape}}
                  @visualizationPaused={{@visualizationPaused}}
                  @toggleVisualizationUpdating={{@toggleVisualizationUpdating}}
                  @resetLandscapeListenerPolling={{@resetLandscapeListenerPolling}}
                  @removeTimestampListener={{@removeTimestampListener}}
                />
              {{/if}}
              {{#if (eq componentId 'Trace-Replayer')}}
                {{#if this.selectedApplicationObject3D}}
                  <Visualization::PageSetup::Sidebar::TraceSelectionAndReplayer
                    @highlightTrace={{this.highlightTrace}}
                    @moveCameraTo={{this.moveCameraTo}}
                    @removeHighlighting={{this.removeAllHighlighting}}
                    @dynamicData={{@landscapeData.dynamicLandscapeData}}
                    @structureData={{@landscapeData.structureLandscapeData}}
                    @application={{this.selectedApplicationObject3D.data.application}}
                  />
                {{else}}
                  Please select an application to use the trace overview.
                {{/if}}
              {{/if}}
              {{#if (eq componentId 'Settings')}}
                <Visualization::PageSetup::Sidebar::Settings
                  @updateHighlighting={{this.highlightingService.updateHighlighting}}
                  @redrawCommunication={{this.applicationRenderer.addCommunicationForAllApplications}}
                  @updateColors={{this.updateColors}}
                  @resetSettings={{this.userSettings.applyDefaultApplicationSettings}}
                  @enterFullscreen={{this.enterFullscreen}}
                />
              {{/if}}
            </Visualization::PageSetup::Sidebar::SidebarComponent>
          {{/each}}
        </Visualization::PageSetup::Sidebar::DataSelection>
      </div>
    </div>
  {{/if}}
</div>