
<div class="row h-100">
  <div
    class="d-flex flex-column h-100 {{if @showDataSelection "col-8" "col-12"}}"
  >
    <div
      id="rendering"
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
      {{landscape-data-watcher
          landscapeData=@landscapeData
          graph=this.graph
}}
    >
    </div>
  </div>
  {{#if @showDataSelection}}
    <div class="col-4" id="dataselection">
      <div class="mt-6 d-flex flex-row w-100" style="z-index: 90">
        <Visualization::PageSetup::Sidebar::DataSelection
          @closeDataSelection={{@closeDataSelection}}
        >
          <div class="explorviz-visualization-navbar">
            <ul class="nav justify-content-center">
              <Visualization::PageSetup::Navbar::TraceOverview
                @addComponent={{@addComponent}}
                @toggleVisualizationUpdating={{@toggleVisualizationUpdating}}
                @visualizationPaused={{@visualizationPaused}}
                @dynamicData={{@landscapeData.dynamicLandscapeData}}
              />
              <Visualization::PageSetup::Navbar::SettingsOpener
                @addComponent={{@addComponent}}
              />
              <Visualization::PageSetup::Navbar::XrCollaborationOpener
                @addComponent={{@addComponent}}
              />
            </ul>
          </div>
          {{#each @components as |componentName|}}
            <div class="card sidebar-card mt-3 border-radius-0">
              <div class="card-body d-flex flex-column">
                {{#if (eq componentName "trace-selection")}}
                  <h5 class="text-center">Trace Overview</h5>
                  {{#if this.selectedApplicationObject3D}}
                    <Visualization::PageSetup::Sidebar::TraceSelectionAndReplayer
                      @highlightTrace={{this.highlightTrace}}
                      @moveCameraTo={{this.moveCameraTo}}
                      @removeComponent={{@removeComponent}}
                      @removeHighlighting={{this.removeHighlighting}}
                      @dynamicData={{@landscapeData.dynamicLandscapeData}}
                      @structureData={{@landscapeData.structureLandscapeData}}
                      @application={{this.selectedApplicationObject3D.dataModel}}
                    />
                  {{else}}
                    Please select an application to use the trace overview.
                  {{/if}}
                {{/if}}
                {{#if (eq componentName "settings")}}
                  <h5 class="text-center">Settings</h5>
                  <Visualization::PageSetup::Sidebar::Settings
                    @isLandscapeView={{true}}
                    @updateColors={{this.updateColors}}
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
                {{#if (eq componentName "app-settings")}}
                  <h5 class="text-center">Settings</h5>
                  <Visualization::PageSetup::Sidebar::Settings
                    @isLandscapeView={{false}}
                    @updateHighlighting={{this.highlightingService.updateHighlightingForAllApplications}}
                    @redrawCommunication={{this.applicationRenderer.addCommunicationForAllApplications}}
                    @updateColors={{this.updateColors}}
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
                {{#if (eq componentName "xr-collaboration")}}
                  <h5 class="text-center">Collaboration</h5>
                  <Visualization::PageSetup::Sidebar::XrCollaboration
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::DataSelection>
      </div>
    </div>
  {{/if}}
</div>
