<h5 align='center'>
  Trace Replayer
</h5>

<Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TraceNavigation
  @selectPreviousTraceStep={{this.selectPreviousTraceStep}}
  @selectNextTraceStep={{this.selectNextTraceStep}}
  @currentTraceStepIndex={{this.currentTraceStepIndex}}
  @traceStepCount={{this.traceSteps.length}}
/>

<hr/>

<Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TraceStepDetails
  @operationName={{this.operationName}}
  @sourceClass={{this.sourceClass}}
  @targetClass={{this.targetClass}}
  @sourceApplicationName={{this.sourceApplication.name}}
  @targetApplicationName={{this.targetApplication.name}}
  @spanStartTime={{this.currentTraceStep.startTime}}
  @spanEndTime={{this.currentTraceStep.endTime}}
/>