<div class='d-flex justify-content-between'>
  <div>
    <HelpTooltip @title={{@setting.description}} />
    {{@setting.displayName}}
  </div>
  <div class='d-flex align-self-center'>
    <BsButton
      title={{@setting.description}}
      @onClick={{@onClick}}
      @type='info'
      @outline={{false}}
    >
      {{@setting.buttonText}}
    </BsButton>
  </div>
</div>