<div
  class='plotlyDiv'
  {{on 'mouseenter' this.handleMouseEnter}}
  {{on 'mouseleave' this.handleMouseLeave}}
  {{did-update this.updateMarkerStates @selectedTimestampRecords}}
  {{did-update this.updatePlotlyTimelineChart @timestamps}}
  {{did-insert this.setupPlotlyTimelineChart}}
>
</div>