{{!-- template-lint-disable no-down-event-binding --}}
<div
  class="popover"
  {{on "pointerdown" this.dragMouseDown}}
  {{on "pointerover" this.onPointerOver}}
  {{on "pointerout" this.onPointerOut}}
  {{did-insert this.setPopupPosition}}
  hover={{@popupData.hovered}}
  {{style
    color=this.highlightingColorStyle
  }}
>

  {{#if @popupData.sharedBy}}
  <div class="inline" {{style
    color=this.sharedByColor
  }}
  >
  {{svg-jar "share-android-16" class="octicon align-right"}}
  </div>
  {{else if (and this.collaborationSession.isOnline @popupData.isPinned)}}
  <BsButton
    @type="secondary"
    @onClick={{fn @sharePopup @popupData}}
  >
    {{svg-jar "share-android-16" class="octicon align-middle"}}
  <BsTooltip @placement="top" @triggerEvents="hover">
    Share popup with other users.
  </BsTooltip>
  </BsButton>
  {{/if}}
  {{#if @popupData.isPinned}}
    <BsButton
      @type={{if @popupData.mesh.highlighted "success" "secondary"}}
      style={{html-safe this.highlightingService.highlightingColorStyle}}
      @onClick={{this.highlight}}
    >
      {{svg-jar "paintbrush-16" class="octicon align-middle"}}
    <BsTooltip @placement="top" @triggerEvents="hover">
      Highlight component.
    </BsTooltip>
    </BsButton>
    <BsButton
      style="float: right;"
      @type="secondary"
      @onClick={{fn @removePopup @popupData.entity.id}}
    >
    X
    </BsButton>
  {{/if}}


  {{!-- landscape popups --}}
  {{#if (eq this.entityType "node")}}
    <Visualization::Rendering::Popups::LandscapePopups::NodePopup
      @node={{@popupData.entity}}
    />
  {{/if}}
  {{#if (eq this.entityType "application")}}
    <Visualization::Rendering::Popups::LandscapePopups::ApplicationPopup
      @application={{@popupData.entity}}
    />
  {{/if}}

  {{!-- application popups --}}
  {{#if (eq this.entityType "package")}}
    <Visualization::Rendering::Popups::ApplicationPopups::ComponentPopup
      @component={{@popupData.entity}}
    />
  {{/if}}
  {{#if (eq this.entityType "class")}}
    <Visualization::Rendering::Popups::ApplicationPopups::ClazzPopup
      @clazz={{@popupData.entity}}
      @applicationId={{@popupData.applicationId}}
     />
  {{/if}}
  {{#if (eq this.entityType "drawableClassCommunication")}}
    <Visualization::Rendering::Popups::ApplicationPopups::CommunicationPopup
      @communication={{@popupData.entity}}
      @showApplication={{@showApplication}}
      @highlightModel={{@highlightModel}}
      @openParents={{@openParents}}
    />
  {{/if}}
  {{#unless @popupData.isPinned}}
    <BsButton
      oncontextmenu="return false;"
      style="position: relative; top: 20px; left: 50%; transform: translateX(-50%);"
      @type="primary"
      @onClick={{fn @pinPopup @popupData}}
      onmouseout={{fn this.closeIfNotPinned}}
    >
      {{svg-jar "pin-16" class="octicon align-right"}}
    </BsButton>
  {{/unless}}  
</div>
