<div class='d-flex flex-row justify-content-center overflow-auto'>
  <table id='room-selection-table' class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Users</th>
        <th scope='col'>Landscape</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.rooms as |room|}}
        <tr>
          <th scope='row'>{{room.roomName}}</th>
          <th scope='row'>{{room.size}}</th>
          <th scope='row'>
            {{#if room.alias}}
              {{room.alias}}
              <BsTooltip @placement='top' @triggerEvents='hover'>
                Token:
                {{room.landscapeToken}}
              </BsTooltip>
            {{else}}
              {{room.landscapeToken}}
            {{/if}}
          </th>
          <th scope='row'>
            <ul class='token-selection-icons'>
              <li>
                <button
                  class='button-svg-with-hover'
                  type='button'
                  {{on 'click' (fn this.joinRoom room)}}
                >
                  {{svg-jar 'search-16' class='octicon align-middle'}}
                  <BsTooltip @placement='bottom' @triggerEvents='hover'>
                    Join room and open visualization
                  </BsTooltip>
                </button>
              </li>
            </ul>
          </th>
        </tr>
      {{else}}
        There are no open rooms at the moment.
      {{/each}}
    </tbody>
  </table>
</div>
<BsButton
  @type='primary'
  class='align-self-center pt-2 px-3'
  @onClick={{this.loadRooms}}
>
  {{svg-jar 'sync-16' class='octicon'}}
</BsButton>