{{#if @popupData}}
  <div class='ar-popover'>
    {{! application popups }}
    {{#if (eq this.entityType 'application')}}
      <Visualization::Rendering::Popups::ApplicationPopups::FoundationPopup
        @application={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq this.entityType 'package')}}
      <Visualization::Rendering::Popups::ApplicationPopups::ComponentPopup
        @component={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq this.entityType 'class')}}
      <Visualization::Rendering::Popups::ApplicationPopups::ClazzPopup
        @clazz={{@popupData.entity}}
        @applicationId={{@popupData.applicationId}}
      />
    {{/if}}
    {{#if (eq this.entityType 'aggregatedClassCommunication')}}
      <Visualization::Rendering::Popups::ApplicationPopups::CommunicationPopup
        @communication={{@popupData.entity}}
        @showApplication={{@showApplication}}
        @highlightById={{@highlightById}}
        @openParents={{@openParents}}
      />
    {{/if}}
  </div>
{{/if}}