<h3 class='popover-header'>
  <div class='text-center text-break font-weight-bold pl-1'>
    {{@clazz.name}}
  </div>
</h3>
<Visualization::Rendering::Popups::PopupTabs
  @htmlId={{@htmlId}}
  @restructureMode={{@restructureMode}}
>
  <:runtimeTab>
    <Visualization::Rendering::Popups::ApplicationPopups::Clazz::ClazzPopupRuntime
      @clazz={{@clazz}}
      @applicationId={{@applicationId}}
    />
  </:runtimeTab>
  <:codeTab>
    <Visualization::Rendering::Popups::ApplicationPopups::Clazz::ClazzPopupCode
    />
  </:codeTab>
  <:restructureTab>
    <Visualization::Rendering::Popups::ApplicationPopups::Clazz::ClazzPopupRestructure
      @clazz={{@clazz}}
      @applicationId={{@applicationId}}
    />
  </:restructureTab>
</Visualization::Rendering::Popups::PopupTabs>