<div class='col-md-auto'>
  {{#if @selectedAppName}}
    <div class='row justify-content-md-center'>
      {{#if
        (or
          (eq this.numberOfSelectedCommitsForCurrentApp 1)
          (eq this.numberOfSelectedCommitsForCurrentApp 2)
        )
      }}
        <div class='col-md-auto'>
          <div class='d-flex'>
            <button
              type='button'
              class='btn btn-outline-dark'
              onclick={{this.unselectAllSelectedCommits}}
            >
              Unselect all commits
            </button>
          </div>
        </div>
      {{/if}}
      {{#if this.showSelectionButton}}
        <div class='col-md-auto'>
          <div class='d-flex'>
            <div class='mr-2'>
              Show Runtime
            </div>
            <div class='d-flex'>
              <label class='wide-checkbox-container'>
                <input
                  type='checkbox'
                  checked={{this.checkboxValues.renderDynamic}}
                  onclick={{fn this.changeRenderingMode 'dynamic'}}
                />
                <span class='wide-checkbox'></span>
              </label>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if this.showSelectionButton}}
        <div class='col-md-auto'>
          <div class='d-flex'>
            <div class='mr-2'>
              Show Code
            </div>
            <div class='d-flex'>
              <label class='wide-checkbox-container'>
                <input
                  type='checkbox'
                  checked={{this.checkboxValues.renderStatic}}
                  onclick={{fn this.changeRenderingMode 'static'}}
                />
                <span class='wide-checkbox'></span>
              </label>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if (eq this.numberOfSelectedCommitsForCurrentApp 2)}}
        {{!--
        <div class='col-md-auto'>
          <div class='d-flex'>
            <button
              type='button'
              class='btn btn-outline-dark'
              onclick={{@swapCommits}}
            >
              Swap Commits
            </button>
          </div>
        </div>
        --}}
        <div class='col-md-auto'>
          <div class='d-flex'>
            <div class='mr-2'>
              Only show differences
            </div>
            <div class='d-flex'>
              <label class='wide-checkbox-container'>
                <input
                  type='checkbox'
                  checked={{this.checkboxValues.renderOnlyDifferences}}
                  onclick={{fn this.changeRenderingMode 'difference'}}
                />
                <span class='wide-checkbox'></span>
              </label>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>