<div class='row' style='height:100%'>
  <div class='d-flex col-12' style='flex-direction: column; height: 100%'>
    <div
      id='rendering'
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      {{#if this.heatmapConf.heatmapActive}}
        <HeatmapInfo
          @metrics={{this.heatmapConf.metrics}}
          @updateMetric={{this.heatmapConf.updateMetric}}
          @selectedMetric={{this.heatmapConf.selectedMetric}}
        />
      {{/if}}

      {{#if this.loadNewLandscape.isRunning}}
        <Visualization::Rendering::LoadingIndicator
          @text='Loading New Landscape'
        />
      {{else if this.addApplication.isRunning}}
        <Visualization::Rendering::LoadingIndicator
          @text='Loading New Application'
        />
      {{/if}}

      {{#unless @showSettingsSidebar}}
        <div class='ar-right-relative foreground mt-6'>
          <BsButton
            id='arSettingsOpener'
            @onClick={{this.toggleSettingsPane}}
            @type='secondary'
            @outline={{true}}
            title='Settings'
          >
            {{svg-jar 'gear-16' class='octicon align-middle'}}
          </BsButton>
        </div>
      {{/unless}}

      {{! popup(s) }}

      {{#each this.popupHandler.popupData as |d|}}
        <Visualization::Rendering::Popups::PopupCoordinator
          @isMovable='true'
          @popupData={{d}}
          @pinPopup={{this.popupHandler.pinPopup}}
          @sharePopup={{this.popupHandler.sharePopup}}
          @removePopup={{this.popupHandler.removePopup}}
          @structureData={{@landscapeData.structureLandscapeData}}
          @highlightModel={{this.applicationRenderer.highlightModel}}
          @openParents={{this.applicationRenderer.openParents}}
        />
      {{/each}}

      <canvas
        class='main-content-majority position-absolute
          {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}'
        {{did-insert this.canvasInserted}}
        {{interaction-modifier
          raycastObjects=this.intersectableObjects
          rendererResolutionMultiplier=this.rendererResolutionMultiplier
          camera=this.camera
          doubleClick=this.handleDoubleClick
          singleClick=this.handleSingleClick
          pinch=this.handlePinching
          rotate=this.handleRotate
        }}
        {{heatmap-renderer camera=this.camera scene=this.scene}}
        {{landscape-data-watcher landscapeData=@landscapeData graph=this.graph}}
        {{collaborative-modifier
          raycastObject3D=this.intersectableObjects
          camera=this.localUser.defaultCamera
        }}
      >
        <ContextMenu @items={{this.rightClickMenuItems}} />
      </canvas>

      <div class='ar-left-button-container'>

        <Visualization::PageSetup::ArButtons::PopupButton
          @handleInfoInteraction={{this.handleInfoInteraction}}
          @removeAllPopups={{this.removeAllPopups}}
        />

        <Visualization::PageSetup::ArButtons::HeatmapButton
          @toggleHeatmap={{this.handleHeatmapToggle}}
        />

        <Visualization::PageSetup::ArButtons::ZoomButton
          @arZoomHandler={{this.arZoomHandler}}
          @handleZoomToggle={{this.handleZoomToggle}}
        />

        <div id='ar-minus-interaction-container'>
          <BsButton
            @type='primary'
            class='half-transparent'
            {{on 'click' this.decreaseSize}}
          >
            {{svg-jar 'dash-16' class='octicon align-middle ar-button-svg'}}
          </BsButton>
        </div>

        <div id='ar-left-interaction-container'>
          <BsButton
            @type='primary'
            class='half-transparent'
            {{on 'click' this.rotateLeft}}
          >
            {{svg-jar
              'arrow-left-16'
              class='octicon align-middle ar-button-svg'
            }}
          </BsButton>
        </div>

      </div>

      <div class='ar-right-button-container'>

        <div id='ar-three-bars-interaction-container'>
          <BsButton
            @type='primary'
            class='half-transparent'
            {{on 'click' this.openMenu}}
          >
            {{svg-jar
              'three-bars-16'
              class='octicon align-middle ar-button-svg'
            }}
          </BsButton>
        </div>

        <Visualization::PageSetup::ArButtons::PrimaryInteractionButton
          @handlePrimaryCrosshairInteraction={{this.handlePrimaryCrosshairInteraction}}
          @openAllComponents={{this.handleOpenAllComponents}}
        />

        <Visualization::PageSetup::ArButtons::SecondaryInteractionButton
          @handleSecondaryCrosshairInteraction={{this.handleSecondaryCrosshairInteraction}}
        />

        <Visualization::PageSetup::ArButtons::PingButton
          @handlePing={{this.handlePing}}
        />

        <div id='ar-plus-interaction-container'>
          <BsButton
            @type='primary'
            class='half-transparent'
            {{on 'click' this.increaseSize}}
          >
            {{svg-jar 'plus-16' class='octicon align-middle ar-button-svg'}}
          </BsButton>
        </div>

        <div id='ar-right-interaction-container'>
          <BsButton
            @type='primary'
            class='half-transparent'
            {{on 'click' this.rotateRight}}
          >
            {{svg-jar
              'arrow-right-16'
              class='octicon align-middle ar-button-svg'
            }}
          </BsButton>
        </div>

      </div>

    </div>
  </div>
  {{#if @showSettingsSidebar}}
    <div class='position-absolute right col-8' id='dataselection'>
      <div class='mt-6 d-flex flex-row w-100'>
        <Visualization::PageSetup::Sidebar::DataSelection
          @closeDataSelection={{@closeDataSelection}}
        >
          <div class='explorviz-visualization-navbar foreground'>
            <ul class='nav justify-content-center'>
              <Visualization::PageSetup::Navbar::CollaborationOpener
                @toggleSettingsSidebarComponent={{@toggleSidebarComponent}}
              />
              <Visualization::PageSetup::Navbar::ArSettingsOpener
                @toggleSettingsSidebarComponent={{@toggleSettingsSidebarComponent}}
              />
            </ul>
          </div>
          {{#each @components as |componentName|}}
            <div class='card mt-3 foreground'>
              <div class='card-body d-flex flex-column'>
                {{#if (eq componentName 'collaboration-controls')}}
                  <h5 class='text-center'>Collaboration</h5>
                  <Visualization::PageSetup::Sidebar::XrCollaboration
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
                {{#if (eq componentName 'ar-settings-selector')}}
                  <h5 class='text-center'>Settings</h5>
                  <Visualization::PageSetup::Sidebar::ArSettingsSelector
                    @removeComponent={{@removeComponent}}
                    @updateView={{this.updateColors}}
                    @updateCameraResolution={{this.initArJs}}
                    @updateRendererResolution={{this.updateRendererResolution}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::DataSelection>
      </div>
    </div>
  {{/if}}
</div>

{{add-listener
  this.heatmapConfiguration
  'updatedClazzMetrics'
  this.applyHeatmap
}}