<h3 class='popover-header'>
  <div class='text-center text-break font-weight-bold pl-1'>
    Communication Information
  </div>
</h3>
<Visualization::Rendering::Popups::PopupTabs
  @htmlId={{@htmlId}}
  @restructureMode={{@restructureMode}}
>
  <:runtimeTab>
    <Visualization::Rendering::Popups::ApplicationPopups::Communication::CommunicationPopupRuntime
      @communication={{@communication}}
      @showApplication={{@showApplication}}
      @highlightById={{@highlightById}}
      @openParents={{@openParents}}
    />
  </:runtimeTab>
  <:codeTab>
    <Visualization::Rendering::Popups::ApplicationPopups::Communication::CommunicationPopupCode
    />
  </:codeTab>
  <:restructureTab>
    <Visualization::Rendering::Popups::ApplicationPopups::Communication::CommunicationPopupRestructure
      @communication={{@communication}}
      @showApplication={{@showApplication}}
      @highlightById={{@highlightById}}
      @openParents={{@openParents}}
    />
  </:restructureTab>
</Visualization::Rendering::Popups::PopupTabs>