<div class='mt-2 mb-1 d-flex justify-content-end'>
  <div>
    <Input
      id='filterInput'
      class='form-control input-lg'
      placeholder='Filter traces'
      {{! autofocus="autofocus" }}
      {{on 'input' this.filter}}
    />
  </div>
</div>

<div style='max-height:500px; overflow:auto; width:100%;'>
  <table class='table table-hover'>
    <thead>
      <tr style='cursor: pointer'>
        <th {{on 'click' (fn this.sortByProperty 'traceId')}} scope='col'>Trace</th>
        <th
          {{on 'click' (fn this.sortByProperty 'steps')}}
          scope='col'
        >Requests</th>
        <th {{on 'click' (fn this.sortByProperty 'traceDuration')}} scope='col'>
          Duration in
          <BsButton
            @onClick={{this.toggleTraceTimeUnit}}
            class='th-btn'
            @outline={{true}}
          >
            {{this.traceTimeUnit}}
          </BsButton>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.traces as |trace index|}}
        <tr
          style='cursor: pointer'
          bgcolor={{if @selectedTrace '#cc8a8a'}}
          {{on 'click' (fn @selectTrace trace)}}
        >
          <th title={{trace.traceId}}>{{truncate trace.traceId 30 true}}</th>
          {{#let (get this.requestCounts index) as |requestCounts|}}
            <td>{{requestCounts}}</td>
          {{/let}}
          {{#let (get this.traceDurations index) as |duration|}}
            <td>{{format-number duration this.traceTimeUnit}}</td>
          {{/let}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>