<div class='range-slider--container'>
  <div style='width: 100%;'>
    <label for='trace-speed-selector'>Playback speed</label>
    <input
      id='trace-speed-slider'
      value={{this.value}}
      min={{this.min}}
      max={{this.max}}
      type='range'
      step={{this.step}}
      class='form-control mr-2'
      onchange={{this.change}}
      oninput={{fn this.input this}}
    />
    <div class='range-slider--values'>
      <span>{{this.min}}</span>
      <span style='font-weight: bold;'>{{this.value}}</span>
      <span>{{this.max}}</span>
    </div>
  </div>
</div>
