<h5 align='center'>
  Trace Player
  {{#if this.isReplayAnimated}}
    <BsButton
      class='th-btn navbar-highlight playing'
      title='Stop animation'
      @onClick={{this.stop}}
      @type='button'
    >
      {{svg-jar 'x-circle-16' class='octicon align-middle'}}
    </BsButton>
  {{else}}
    <BsButton
      class='th-btn'
      title='Play animation'
      @onClick={{this.start}}
      @type='button'
    >
      {{svg-jar 'play-16' class='octicon align-middle'}}
    </BsButton>
  {{/if}}
</h5>

<div class='mb-3'>
  <div class='range-slider--container'>
    <div style='width: 100%;'>
      <input
        value={{this.selectedSpeed}}
        min={{this.minSpeed}}
        max={{this.maxSpeed}}
        type='range'
        step='1'
        class='form-control mr-2'
        onchange={{this.changeSpeed}}
        oninput={{fn this.inputSpeed this}}
      />
      <div class='range-slider--values'>
        <span>{{this.minSpeed}}</span>
        <span style='font-weight: bold;'>{{this.selectedSpeed}}</span>
        <span>{{this.maxSpeed}}</span>
      </div>
    </div>
  </div>
</div>

<div class='mb-3'>
  <div class='range-slider--container'>
    <div style='width: 100%;'>
      <input
        value={{this.progress}}
        min=0
        max=100
        type='range'
        step='1'
        class='form-control mr-2'
      />
      {{this.progress}}%
    </div>
  </div>
</div>

<Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TraceNavigation
  @selectPreviousTraceStep={{this.selectPreviousTraceStep}}
  @selectNextTraceStep={{this.selectNextTraceStep}}
  @currentTraceStepIndex={{this.currentTraceStepIndex}}
  @traceStepCount={{this.traceSteps.length}}
/>

<hr/>

<Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TraceStepDetails
  @operationName={{this.operationName}}
  @sourceClass={{this.sourceClass}}
  @targetClass={{this.targetClass}}
  @sourceApplicationName={{this.sourceApplication.name}}
  @targetApplicationName={{this.targetApplication.name}}
  @spanStartTime={{this.currentTraceStep.startTime}}
  @spanEndTime={{this.currentTraceStep.endTime}}
/>