<div class="alert alert-danger" role="alert">
  Detected zero-length events!
</div>
<div class='mb-3'>
  <div class='range-slider--container'>
    <div style='width: 100%;'>
      <label for='trace-delay-selector'>Minimal Timestamp Difference</label>
      <input
        id='trace-delay-slider'
        value={{this.sliderDelay}}
        min=0
        max=10
        type='range'
        step=0.5
        class='form-control mr-2'
        onchange={{this.changeDelay}}
        oninput={{fn this.inputDelay this}}
      />
      <div class='range-slider--values'>
        <span>0</span>
        <span style='font-weight: bold;'>{{this.sliderDelay}}</span>
        <span>10</span>
      </div>
    </div>
  </div>
</div>
<div align='center' class='mb-3'>
  <BsButton
    class='btn-outline-secondary'
    title='Ignore'
    @onClick={{this.apply}}
    @type='button'
  >
    Apply
  </BsButton>
  <BsButton
    class='btn-danger'
    title='Ignore'
    @onClick={{this.ignore}}
    @type='button'
  >
    Ignore
  </BsButton>
</div>
