<h5 align='center'>
  Trace Player
</h5>

{{#if this.ready}}
  <div align='center' class='mb-3'>
    <BsButton class='th-btn' title='Next' @onClick={{this.stop}} @type='button'>
      {{svg-jar 'square-fill-24' class='octicon align-middle'}}
    </BsButton>

    {{#if this.paused}}
      <BsButton
        class='th-btn'
        title='Play'
        @onClick={{this.start}}
        @type='button'
      >
        {{svg-jar 'play-24' class='octicon align-middle'}}
      </BsButton>
    {{else}}
      <BsButton
        class='th-btn navbar-highlight playing'
        title='Stop'
        @onClick={{this.pause}}
        @type='button'
      >
        {{svg-jar 'x-circle-24' class='octicon align-middle'}}
      </BsButton>
    {{/if}}
  </div>

  <div class='mb-3'>
    <input
      type='checkbox'
      checked={{this.eager}}
      onclick={{this.toggleEager}}
    />
    Eager Expansion
  </div>

  <div class='mb-3'>
    <input
      type='checkbox'
      checked={{this.afterimage}}
      onclick={{this.toggleAfterimage}}
    />
    Remove Traces
  </div>

  <div class='mb-3'>
    <Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TraceSpeed
      @callback={{this.callbackSpeed}}
    />
  </div>

  <div class='mb-3'>
    <Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TraceTimeline
      @timeline={{this.timeline}}
      @select={{false}}
      @cursor={{true}}
      @selection={{this.callbackSelection}}
      @observer={{this.observer}}
      @callback={{this.callbackCursor}}
    />
  </div>

  <div class='mb-3'>
    <ul class="nav nav-tabs">
      {{#each this.tabs as |tab|}}
        {{#if tab.active}}
          <BsButton
            class='nav-link active'
            title={{tab.label}}
            style={{tab.style}}
            @onClick={{tab.enable}}
            @type='button'>
            {{tab.label}}
          </BsButton>
        {{else}}
          <BsButton
            class='nav-link'
            title={{tab.label}}
            style={{tab.style}}
            @onClick={{tab.enable}}
            @type='button'>
            {{tab.label}}
          </BsButton>
        {{/if}}
      {{/each}}
    </ul>
  </div>

  {{#each this.tabs as |tab|}}
    {{#if tab.active}}
      <ul class="nav nav-tabs">
        <Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TraceStepDetails
          @name={{tab.name}}
          @caller={{tab.caller}}
          @callee={{tab.callee}}
          @origin={{tab.origin}}
          @target={{tab.target}}
          @start={{tab.start}}
          @end={{tab.end}}
          @duration={{tab.duration}}
          @unit={{@unit}}
        />
      </ul>
    {{/if}}
  {{/each}}

{{else}}
  <Visualization::PageSetup::Sidebar::Toolbar::TraceReplayer::TracePreprocess
    @tree={{this.tree}}
    @timeline={{this.timeline}}
    @callback={{this.callbackReady}}
  />
{{/if}}
