<div class='mt-3 d-flex justify-content-between' style='width: 100%;'>
  <table class='table table-striped'>
    <tbody>
    <tr class='d-flex'>
      <th class='col-3'>Name</th>
      <td class='col-9 container-word-wrap'>{{@name}}</td>
    </tr>
    <tr class='d-flex'>
      <th class='col-3'>Call</th>
      <td class='col-9 container-word-wrap'>
        {{@caller}} {{svg-jar "arrow-right-16"}} {{@callee}}
      </td>
    </tr>
    <tr class='d-flex'>
      <th class='col-3'>App</th>
      <td class='col-9 container-word-wrap'>
        {{@origin}} {{svg-jar "arrow-right-16"}} {{@target}}
      </td>
    </tr>
    <tr class='d-flex'>
      <th class='col-3'>Time</th>
      <td class='col-9 container-word-wrap'>
        {{format-number @start @unit}} {{svg-jar "arrow-right-16"}} {{format-number @end @unit}} ({{format-number @duration @unit}})
      </td>
    </tr>
    </tbody>
  </table>
</div>