<h6 class='mb-3 mt-3'><strong>Dynamic</strong></h6>

<Visualization::PageSetup::Sidebar::Toolbar::EntityFiltering::TraceStart
  @landscapeData={{@landscapeData}}
  @updateLandscape={{@updateLandscape}}
  @pauseVisualizationUpdating={{@pauseVisualizationUpdating}}
  @visualizationPaused={{@visualizationPaused}}
/>

<Visualization::PageSetup::Sidebar::Toolbar::EntityFiltering::TraceDuration
  @landscapeData={{@landscapeData}}
  @updateLandscape={{@updateLandscape}}
  @pauseVisualizationUpdating={{@pauseVisualizationUpdating}}
  @visualizationPaused={{@visualizationPaused}}
/>

<h6 class='mb-3 mt-3'><strong>Structure</strong></h6>