<h6 class='text-center'><u>Trace Filtering</u></h6>
<Visualization::PageSetup::Sidebar::Toolbar::EntityFiltering::TraceFiltering::TraceFiltering
  @landscapeData={{@landscapeData}}
  @updateLandscape={{@updateLandscape}}
  @pauseVisualizationUpdating={{@pauseVisualizationUpdating}}
/>

<h6 class='text-center'><u>Structure Filtering</u></h6>
<Visualization::PageSetup::Sidebar::Toolbar::EntityFiltering::StructureFiltering::StructureFiltering
  @landscapeData={{@landscapeData}}
  @updateLandscape={{@updateLandscape}}
  @pauseVisualizationUpdating={{@pauseVisualizationUpdating}}
/>