<div class='mb-3'>
  <HelpTooltip @title='bla' />
  <label class='m-0' for='filtering-trace-duration'>Min. trace duration (#
    traces:
    <b>{{this.traceCount}}</b>)</label>
  <div class='range-slider--container'>
    <div style='width: 100%;'>
      <input
        id='filtering-trace-duration'
        value={{this.timestamps.selected}}
        min={{this.timestamps.min}}
        max={{this.timestamps.max}}
        type='range'
        step='1'
        class='form-control mr-2'
        {{on 'change' this.onChange}}
        oninput={{fn this.onInput this}}
      />
      <div class='range-slider--values'>
        <span>{{this.timestamps.min}}</span>
        <span style='font-weight: bold;'>{{this.timestamps.selected}}</span>
        <span>{{this.timestamps.max}}</span>
      </div>
    </div>
  </div>
</div>