<div class='mb-3'>
  <HelpTooltip @title='bla' />
  <label class='m-0' for='filtering-trace-start'>Start timestamp (# traces:
    {{this.traceCount}})</label>
  <div class='range-slider--container'>
    <div style='width: 100%;'>
      <input
        id='filtering-trace-start'
        value={{this.currentValue}}
        min={{this.minAndMaxAndMidStartTimestamp.min}}
        max={{this.minAndMaxAndMidStartTimestamp.max}}
        type='range'
        step='1000'
        class='form-control mr-2'
        {{on 'change' this.onChange}}
      />
      <div class='range-slider--values'>
        <span>{{this.formatTimestampToDate
            this.minAndMaxAndMidStartTimestamp.min
          }}</span>
        <span style='font-weight: bold;'>{{this.formatTimestampToDate
            this.currentValue
          }}</span>
        <span>{{this.formatTimestampToDate
            this.minAndMaxAndMidStartTimestamp.max
          }}</span>
      </div>
    </div>
  </div>
</div>