<div class='d-flex flex-row justify-content-center overflow-scroll'>
  <table id='room-selection-table' class='table table-striped'>
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Users</th>
        <th scope='col'>Landscape</th>
        <th scope='col'>Token</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.rooms as |room|}}
        <tr
          {{on 'click' (fn this.joinRoom room)}}
          title='Join Room'
          class='room-entry'
        >
          <th scope='row'>{{room.roomName}}</th>
          <th scope='row'>{{room.size}}</th>
          <th scope='row'>
            {{if room.alias room.alias room.landscapeToken}}
          </th>
          <th scope='row' class='room-token'>
            {{room.landscapeToken}}
            <BsTooltip @placement='bottom' @triggerEvents='hover'>
              {{room.landscapeToken}}
            </BsTooltip>
          </th>
        </tr>
      {{else}}
        There are no open rooms at the moment.
      {{/each}}
    </tbody>
  </table>
</div>
<BsButton
  @type='primary'
  class='align-self-center pt-2 px-3'
  @onClick={{this.loadRooms}}
>
  {{svg-jar 'sync-16' class='octicon'}}
</BsButton>