{{! template-lint-disable simple-unless }}
{{#each-in this.filteredSettingsByGroup as |groupId settingIdArray|}}
  {{#unless (is-empty settingIdArray)}}
    <div style='display:flex; justify-content:space-between'>
      <h6 class='mt-3'><strong>{{groupId}}</strong></h6>
      <div {{react this.resetButton onClick=this.resetGroup args=groupId}} />
    </div>
    {{#if (eq groupId 'Colors')}}
      <div id='colorHeader' class='mb-2'>
        <div
          {{react
            this.colorSchemeSelector
            colorSchemes=this.colorSchemes
            applyColorScheme=this.applyColorScheme
          }}
        />
      </div>
    {{/if}}
    <div class='ml-3'>
      {{#each settingIdArray as |settingId|}}
        {{#let
          (get this.userSettings.visualizationSettings settingId)
          as |setting|
        }}
          {{#if setting.isFlagSetting}}
            <div
              {{react
                this.flagSetting
                setting=setting
                onChange=this.updateFlagSetting
                settingId=settingId
              }}
            />
          {{else if setting.isRangeSetting}}
            <div
              {{react
                this.rangeSetting
                setting=setting
                onChange=this.updateRangeSetting
                settingId=settingId
              }}
            />
          {{else if setting.isColorSetting}}
            <div
              {{react
                this.colorPicker
                id=settingId
                setting=setting
                updateColors=@updateColors
              }}
            />
          {{else if setting.isButtonSetting}}
            <div
              {{react
                this.buttonSetting
                setting=setting
                onClick=this.updateButtonSetting
                settingId=settingId
              }}
            />
          {{/if}}
        {{/let}}
      {{/each}}
    </div>
  {{/unless}}
{{/each-in}}