<div class='sidebar-component-close' {{on 'click' this.close}}>
  {{svg-jar 'x-16' class='octicon'}}
</div>

<div>

  <h6 class="mb-3 mt-3"><strong>Restructure Mode</strong></h6>
  <div class='ml-3'>
    <div class='d-flex justify-content-between'>
      <label>Enable Restructure Mode: </label>
      <div class='d-flex align-self-center'>
        <XToggle
          class='mr-4'
          @theme='skewed'
          @value={{this.restructureMode}}
          @onToggle={{this.toggleRestructureMode}}
        />
      </div>
    </div>
  </div>

  {{#if this.restructureMode}}
    <h6 class="mb-3 mt-3"><strong>Entity</strong></h6>
    <div class='ml-3'>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Foundation'
          {{on 'click' this.addFoundation}}
          @type='secondary'
          @outline={{true}}
        >
          Foundation
        </BsButton>
      </div>
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Package'
          {{on 'click' this.addPackage}}
          @type='secondary'
          @outline={{true}}
        >
          Package
        </BsButton>
      </div>
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Class'
          {{on 'click' this.addClass}}
          @type='secondary'
          @outline={{true}}
        >
          Class
        </BsButton>
      </div>
    </div>

    <h6 class="mb-3 mt-3"><strong>Communication</strong></h6>
    <div class='ml-3'>
      <label>Method name:
        <div class="d-flex justify-content-between">
          <input class="form-control mr-2" oninput={{this.updateMethodName}} value={{this.methodName}}>
        </div>
      </label>
      <ul></ul>
      <label>Source Class:
        <div class="d-flex justify-content-between">
          <input class="form-control mr-2"  value={{this.sourceClass}} disabled>
          <button type="button" class="btn btn-dark" title="Paste Source Class" onclick={{this.addSourceClassFromClipboard}}></button>
          <button type="button" class="btn btn-light" title="Reset Source Class" onclick={{this.resetSourceClass}}></button>
        </div>
      </label>
      
      <ul></ul>
      <label>Target Class:
        <div class="d-flex justify-content-between">
          <input class="form-control mr-2"  value={{this.targetClass}} disabled>
          <button type="button" class="btn btn-dark" title="Paste TargetClass" onclick={{this.addTargetClassFromClipboard}}></button>
          <button type="button" class="btn btn-light" title="Reset Target Class" onclick={{this.resetTargetClass}}></button>
        </div>
      </label>
      
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Create Communication between Source and Target Class'
          {{on 'click' this.createCommunication}}
          @type='secondary'
          @outline={{true}}
          disabled={{this.communicationBtnDisabled}}
        >
          Generate Communication
        </BsButton>
      </div>
    </div>

    <h6 class="mb-3 mt-3"><strong>Clipboard</strong></h6>
    <div class="ml-3">
      <label>
        <div class="d-flex justify-content-between">
          <input class="form-control mr-2"  value={{this.clip_board}} disabled>
          <button type="button" class="btn btn-light" title="Reset Clipboard" onclick={{this.resetClipboardBtn}}></button>
        </div>
      </label>
    </div>
  {{/if}}

</div>