<div class='sidebar-component-close' {{on 'click' this.close}}>
  {{svg-jar 'x-16' class='octicon'}}
</div>

<div>

  <h6 class="mb-3 mt-3"><strong>Restructure Mode</strong></h6>
  <div class='ml-3'>
    <div class='d-flex justify-content-between'>
      <label>Enable Restructure Mode: </label>
      <div class='d-flex align-self-center'>
        <XToggle
          class='mr-4'
          @theme='skewed'
          @value={{this.restructureMode}}
          @onToggle={{this.toggleRestructureMode}}
        />
      </div>
    </div>
  </div>

  {{#if this.restructureMode}}
    <h6 class="mb-3 mt-3"><strong>Gitlab Credentials</strong></h6>
    <div class='ml-3'>
      <label for="token">API Token:</label>
      <div class="d-flex justify-content-between">
        <input id="token" class="form-control mr-2" oninput={{this.updateToken}} value={{this.token}}>
      </div>
      <ul></ul>
      <label for="repo">Repository ID:</label>
      <div class="d-flex justify-content-between">
        <input id="repo" class="form-control mr-2" oninput={{this.updateRepo}} value={{this.repo}}>
      </div>
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Save Gitlab Credentials'
          {{on 'click' this.saveGitlabCredentials}}
          @type='secondary'
          @outline={{true}}
          disabled={{this.saveCredBtnDisabled}}
        >
          Save
        </BsButton>
      </div>
    </div>

    <h6 class="mb-3 mt-3"><strong>Application</strong></h6>
    <div class='ml-3'>
      <label for="appName">Application name:</label>
      <div class="d-flex justify-content-between">
        <input id="appName" class="form-control mr-2" oninput={{this.updateNewAppName}} value={{this.appName}}>
      </div>
      <ul></ul>
      <label for="language">Language:</label>
      <div class="d-flex justify-content-between">
        <input id="language" class="form-control mr-2" oninput={{this.updateLanguage}} value={{this.language}}>
      </div>
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Create a new Application'
          {{on 'click' this.addFoundation}}
          @type='secondary'
          @outline={{true}}
          disabled={{this.createAppBtnDisabled}}
        >
          Create Application
        </BsButton>
      </div>
    </div>

    <h6 class="mb-3 mt-3"><strong>Communication</strong></h6>
    <div class='ml-3'>
      <label for="methodName">Method name:</label>
      <div class="d-flex justify-content-between">
        <input id="methodName" class="form-control mr-2" oninput={{this.updateMethodName}} value={{this.methodName}}>
      </div>
      
      <ul></ul>
      <label for="srcClass">Source Class:</label>
      <div class="d-flex justify-content-between">
        <input id="srcClass" class="form-control mr-2"  value={{this.sourceClass}} disabled>
        <button type="button" class="btn btn-dark" title="Paste Source Class" onclick={{this.addSourceClassFromClipboard}}></button>
        <button type="button" class="btn btn-light" title="Reset Source Class" onclick={{this.resetSourceClass}}></button>
      </div>
      
      <ul></ul>
      <label for="targetClass">Target Class:</label>
      <div class="d-flex justify-content-between">
        <input id="targetClass" class="form-control mr-2"  value={{this.targetClass}} disabled>
        <button type="button" class="btn btn-dark" title="Paste TargetClass" onclick={{this.addTargetClassFromClipboard}}></button>
        <button type="button" class="btn btn-light" title="Reset Target Class" onclick={{this.resetTargetClass}}></button>
      </div>
      
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Create Communication between Source and Target Class'
          {{on 'click' this.createCommunication}}
          @type='secondary'
          @outline={{true}}
          disabled={{this.communicationBtnDisabled}}
        >
          Generate Communication
        </BsButton>
      </div>
    </div>

    <h6 class="mb-3 mt-3"><strong>Clipboard</strong></h6>
    <div class="ml-3">
      <label for="clipboard"></label>
      <div class="d-flex justify-content-between">
        <input id="clipboard" class="form-control mr-2"  value={{this.clip_board}} disabled>
        <button type="button" class="btn btn-light" title="Reset Clipboard" onclick={{this.resetClipboardBtn}}></button>
      </div>
    </div>

    <h6 class="mb-3 mt-3"><strong>Gitlab</strong></h6>
    {{#each this.issues as |issue index|}}
      <div class="ml-3">
        <div class="d-flex flex-column justify-content-between">
          <label for="issueTitle"></label>
            <input id="issueTitle" type="text" placeholder="Issue Title" value={{issue.title}} {{on "input" (fn this.updateIssueTitle index)}}>
          <ul></ul>
          <label for="issue"></label>
          <textarea id="issue" placeholder="Issue Content" rows="10" value={{issue.content}} {{on "input" (fn this.updateIssueContent index)}} {{on "keydown" (fn this.checkForPlusKey index)}}></textarea>
        </div>
      </div>
      <ul></ul>
    {{/each}}

    <div class='ml-3'>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Create Issue'
          {{on 'click' this.createIssue}}
          @type='secondary'
          @outline={{true}}
        >
          Create Issue
        </BsButton>

        <BsButton
          title='Upload Issue to Gitlab'
          {{on 'click' this.uploadIssueToGitLab}}
          @type='secondary'
          @outline={{true}}
        >
          Upload to Gitlab
        </BsButton>
      </div>
      <ul></ul>
      
    </div>
  {{/if}}

</div>