<div class='sidebar-component-close' {{on 'click' this.close}}>
  {{svg-jar 'x-16' class='octicon'}}
</div>

<div>

  <h6 class="mb-3 mt-3"><strong>Restructure Mode</strong></h6>
  <div class='ml-3'>
    <div class='d-flex justify-content-between'>
      <label>Enable Restructure Mode: </label>
      <div class='d-flex align-self-center'>
        <XToggle
          class='mr-4'
          @theme='skewed'
          @value={{this.restructureMode}}
          @onToggle={{this.toggleRestructureMode}}
        />
      </div>
    </div>
  </div>

  {{#if this.restructureMode}}
    <h6 class="mb-3 mt-3"><strong>Entity</strong></h6>
    <div class='ml-3'>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Foundation'
          {{on 'click' this.addFoundation}}
          @type='secondary'
          @outline={{true}}
        >
          Foundation
        </BsButton>
      </div>
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Package'
          {{on 'click' this.addPackage}}
          @type='secondary'
          @outline={{true}}
        >
          Package
        </BsButton>
      </div>
      <ul></ul>
      <div class='d-flex justify-content-between'>
        <BsButton
          title='Class'
          {{on 'click' this.addClass}}
          @type='secondary'
          @outline={{true}}
        >
          Class
        </BsButton>
      </div>
    </div>

    <h6 class="mb-3 mt-3"><strong>Clipboard</strong></h6>
    <div class="d-flex justify-content-between">
      <input class="form-control mr-2"  value={{this.clip_board}} disabled>
      <button class="btn btn-light" title="Reset Clipboard" onclick={{this.resetClipboardBtn}}></button>
    </div>
  {{/if}}

</div>