<AutoSelectLandscape @landscapeToken={{this.landscapeToken}}  @owner={{this.owner}} @createdAt={{this.createdAt}} shared@={{this.shared}}/>
<div id='ember-right-click-menu-wormhole'></div>
<div id='main-container'>
  {{#if this.auth.user}}
    <PageSetup::Navbar />
    <PageSetup::ToastMessage />
  {{/if}}
  {{outlet}}
</div>