<div id='landscape-container'>
  <BsTab id='tabnav' @type='pills' as |tab|>
    <tab.pane @id='landscape-tab' @title='Landscapes'>
      <div class='d-flex flex-row justify-content-center overflow-auto'>
        <TokenSelection
          @openTokenCreationModal={{this.openTokenCreationModal}}
          @selectToken={{this.selectToken}}
          @tokens={{@model.landscapeTokens}}
          @deleteToken={{this.deleteToken}}
          @reload={{this.reload}}
        />
      </div>
    </tab.pane>
    <tab.pane @id='room-tab' @title='Rooms'>
      <RoomList @tokens={{@model}} @selectToken={{this.selectToken}} />
    </tab.pane>
    <tab.pane @id='snapshot-tab' @title='Snapshots'>
      <SnapshotSelection
        @snapshotInfo={{@model.snapshotInfo}}
        @selectPersonalToken={{this.selectPersonalSnapshot}}
        @selectSharedToken={{this.selectSharedSnapshot}}
      />
    </tab.pane>
  </BsTab>
</div>

<BsModalSimple
  @open={{this.tokenCreationModalIsOpen}}
  @onHidden={{this.closeTokenCreationModal}}
  @title='Create Landscape Token'
  @closeTitle='Cancel'
  @submitTitle='Create'
>
  <BsForm
    @model={{this}}
    @onSubmit={{this.createToken}}
    @submitOnError={{true}}
    as |Form|
  >
    <Form.element
      @controlType='text'
      @label='Alias (may be left empty)'
      @property='tokenAlias'
      @autofocus={{true}}
    />
  </BsForm>
</BsModalSimple>