<div class='container overflow-auto mt-5 mb-5 d-flex flex-column flex-1'>
  <h4 class='text-center mt-4 mb-3'>Select Software Landscape</h4>
  <div class='d-flex flex-row justify-content-center overflow-scroll'>
    <TokenSelection
      @openTokenCreationModal={{this.openTokenCreationModal}}
      @selectToken={{this.selectToken}}
      @tokens={{@model.landscapeTokens}}
      @latestToken={{this.tokenService.latestToken}}
      @deleteToken={{this.deleteToken}}
      @reload={{this.reload}}
    />
  </div>
  <h4 class='text-center mt-2 mb-3'>Open Sessions</h4>
  <RoomList
    @tokens={{@model.landscapeTokens}}
    @selectToken={{this.selectToken}}
  />
  <h4 class='text-center mt-5 mb-3'>Snapshots</h4>
  <div class='px-5'>
    <SnapshotSelection
      @snapshotInfo={{@model.snapshotInfo}}
      @selectPersonalToken={{this.selectPersonalSnapshot}}
      @selectSharedToken={{this.selectSharedSnapshot}}
    />
  </div>
</div>

<BsModalSimple
  @open={{this.tokenCreationModalIsOpen}}
  @onHidden={{this.closeTokenCreationModal}}
  @title='Create Landscape Token'
  @closeTitle='Cancel'
  @submitTitle='Create'
>
  <BsForm
    @model={{this}}
    @onSubmit={{this.createToken}}
    @submitOnError={{true}}
    as |Form|
  >
    <Form.element
      @controlType='text'
      @label='Alias (may be left empty)'
      @property='tokenAlias'
      @autofocus={{true}}
    />
  </BsForm>
</BsModalSimple>