{{add-listener
  this.landscapeRestructure
  'restructureLandscapeData'
  this.triggerRenderingForGivenLandscapeData
}}
{{add-listener
  this.landscapeRestructure
  'openSettingsSidebar'
  this.openSettingsSidebar
}}
{{add-listener
  this.landscapeRestructure
  'restructureComponent'
  this.toggleSettingsSidebarComponent
}}
{{add-listener
  this.landscapeRestructure
  'toggelVisualization'
  this.toggleVisualizationUpdating
}}

{{did-insert this.initRenderingAndSetupListeners}}

<AutoJoinLobby @roomId={{this.roomId}} />

<div id='vizspace' {{sync-state}}>

  {{! Loading screen }}
  {{#unless this.allLandscapeDataExistsAndNotEmpty}}
    <div class='container-fluid mt-6'>
      <div class='jumbotron'>
        {{#if this.isLandscapeExistentAndEmpty}}
          <h2>Empty Landscape received!</h2>
        {{else}}
          <h2>No Landscape found!</h2>
        {{/if}}
        <p>A new landscape will be fetched every 10 seconds.</p>
      </div>
      <div class='spinner-center-3' role='status'></div>
    </div>
  {{/unless}}

  {{! Rendering mode }}
  {{#if this.showAR}}
    <ArRendering
      @id='ar-rendering'
      @landscapeData={{this.landscapeData}}
      @switchToOnScreenMode={{this.switchToOnScreenMode}}
      @toggleSettingsSidebarComponent={{this.sidebarHandler.toggleSettingsSidebarComponent}}
      @toggleVisualizationUpdating={{this.toggleVisualizationUpdating}}
      @visualizationPaused={{this.visualizationPaused}}
      @components={{this.sidebarHandler.components}}
      @openSettingsSidebar={{this.sidebarHandler.openSettingsSidebar}}
      @closeDataSelection={{this.sidebarHandler.closeDataSelection}}
      @showSettingsSidebar={{this.sidebarHandler.showSettingsSidebar}}
    />

  {{else}}
    {{#if this.showVR}}

      <VrRendering
        @id='vr-rendering'
        @landscapeData={{this.landscapeData}}
        @switchToOnScreenMode={{this.switchToOnScreenMode}}
        @debugMode={{this.userSettings.applicationSettings.showVrOnClick.value}}
      />

    {{else}}
      <Visualization::Rendering::BrowserRendering
        @id='browser-rendering'
        @isDisplayed={{this.allLandscapeDataExistsAndNotEmpty}}
        @landscapeData={{this.landscapeData}}
        @components={{this.sidebarHandler.components}}
        @addComponent={{this.sidebarHandler.addComponent}}
        @componentsToolsSidebar={{this.sidebarHandler.componentsToolsSidebar}}
        @removeToolsSidebarComponent={{this.sidebarHandler.removeToolsSidebarComponent}}
        @closeDataSelection={{this.sidebarHandler.closeDataSelection}}
        @closeToolsSidebar={{this.sidebarHandler.closeToolsSidebar}}
        @openSettingsSidebar={{this.sidebarHandler.openSettingsSidebar}}
        @openToolsSidebar={{this.sidebarHandler.openToolsSidebar}}
        @showSettingsSidebar={{this.sidebarHandler.showSettingsSidebar}}
        @showToolsSidebar={{this.sidebarHandler.showToolsSidebar}}
        @toggleSettingsSidebarComponent={{this.sidebarHandler.toggleSettingsSidebarComponent}}
        @toggleToolsSidebarComponent={{this.sidebarHandler.toggleToolsSidebarComponent}}
        @toggleVisualizationUpdating={{this.toggleVisualizationUpdating}}
        @pauseVisualizationUpdating={{this.pauseVisualizationUpdating}}
        @visualizationPaused={{this.visualizationPaused}}
        @removeTimestampListener={{this.removeTimestampListener}}
        @restructureLandscape={{this.restructureLandscape}}
        @switchToAR={{this.switchToAR}}
        @triggerRenderingForGivenLandscapeData={{this.triggerRenderingForGivenLandscapeData}}
      />
    {{/if}}

  {{/if}}
</div>

{{! Bottom Bar }}
{{#if this.shouldDisplayBottomBar}}
  <div id='bottom-bar-container'>

    {{! Toggle Bottom Bar Button}}
    <BsButton
      @onClick={{this.toggleVisibilityBottomBar}}
      @type='secondary'
      @outline={{true}}
      class='bottom-bar-toggle-btn'
      title={{if this.isBottomBarMaximized 'Hide Bottom Bar' 'Show Bottom Bar'}}
    >

      {{#unless this.isBottomBarMaximized}}
        <span class='pr-1'>Show Bottom Bar</span>
      {{/unless}}
      {{svg-jar
        'chevron-up-16'
        id='hide-bottom-bar-icon'
        class=(if
          this.isBottomBarMaximized
          'octicon align-middle hide-bottom-bar-icon-down'
          'octicon align-middle'
        )
      }}
    </BsButton>

    {{! VR Button}}
    {{#if
      (and
        this.userSettings.applicationSettings.showVrButton.value
        (not this.showVR)
      )
    }}
      <button
        class='bottom-bar-vr-button'
        type='button'
        {{did-insert this.updateVrStatus}}
        {{on 'click' this.switchToVR}}
      >
        {{this.vrButtonText}}
      </button>
    {{/if}}

    {{! Runtime / Code Charts}}
    <div
      id='bottom-bar-chart-container'
      class='bottom-bar-chart
        {{if
          (and this.isCommitTreeSelected this.isBottomBarMaximized)
          "bottom-bar-chart-commitTree"
        }}
        {{unless this.isBottomBarMaximized "bottom-bar-chart-hide"}}'
    >

      <div id='bottom-bar-chart-button-div'>
        <BsButton
          @onClick={{this.toggleBottomChart}}
          @outline={{true}}
          class='bottom-bar-chart-button'
        >
          {{if this.isRuntimeTimelineSelected 'Show Commit Chart'}}
          {{if this.isCommitTreeSelected 'Show Runtime Chart'}}
        </BsButton>
      </div>

      {{#if this.isRuntimeTimelineSelected}}
        <Visualization::PageSetup::BottomBar::Runtime::PlotlyTimeline
          @timelineDataObject={{this.timelineDataObjectHandler.timelineDataObject}}
          @clicked={{this.timelineClicked}}
        />
      {{/if}}

      {{#if this.isCommitTreeSelected}}
        <Visualization::PageSetup::BottomBar::Evolution::CommitTreeApplicationSelection
          @applications={{this.evolutionDataRepository.evolutionLandscapeData.applications}}
          @selectedApplication={{this.commitTreeData.currentSelectedApplicationName}}
          @setSelectedApplication={{this.commitTreeData.setCurrentSelectedApplicationName}}
        />
      {{/if}}

    </div>
  </div>
{{/if}}

<Visualization::Rendering::PlayPauseButton />