{{add-listener
  this.landscapeListener
  'newLandscapeData'
  this.receiveNewLandscapeData
}}
{{add-listener this.timestampRepo 'updated' this.updateTimestampList}}

{{add-listener
  this.landscapeRestructure
  'restructureLandscapeData'
  this.restructureLandscapeData
}}
{{add-listener
  this.landscapeRestructure
  'openSettingsSidebar'
  this.openSettingsSidebar
}}
{{add-listener
  this.landscapeRestructure
  'restructureComponent'
  this.toggleSettingsSidebarComponent
}}
{{add-listener
  this.landscapeRestructure
  'resetPolling'
  this.resetLandscapeListenerPolling
}}
{{add-listener
  this.landscapeRestructure
  'toggelVisualization'
  this.toggleVisualizationUpdating
}}

{{did-insert this.setupListeners}}

<AutoJoinLobby @roomId={{this.roomId}} />

<div id='vizspace' {{sync-state}}>
  {{#if this.showAR}}
    <ArRendering
      @id='ar-rendering'
      @landscapeData={{this.landscapeData}}
      @openLandscapeView={{this.openLandscapeView}}
      @toggleSettingsSidebarComponent={{this.toggleSettingsSidebarComponent}}
      @toggleVisualizationUpdating={{this.toggleVisualizationUpdating}}
      @visualizationPaused={{this.visualizationPaused}}
      @components={{this.components}}
      @openSettingsSidebar={{this.openSettingsSidebar}}
      @closeDataSelection={{this.closeDataSelection}}
      @showSettingsSidebar={{this.showSettingsSidebar}}
      @applicationArgs={{this.applicationArgs}}
    />
  {{else}}
    {{#if (and this.flag this.showVR)}}
      <VrRendering
        @id='vr-rendering'
        @landscapeData={{this.landscapeData}}
        @components={{this.components}}
        @openSettingsSidebar={{this.openSettingsSidebar}}
        @closeDataSelection={{this.closeDataSelection}}
        @showSettingsSidebar={{this.showSettingsSidebar}}
        @toggleVisualizationUpdating={{this.toggleVisualizationUpdating}}
        @visualizationPaused={{this.visualizationPaused}}
        @applicationArgs={{this.applicationArgs}}
        @debugMode={{this.flag}}
      />
      <div class='position-absolute mt-6 ml-3'>
        <BsButton
          id='backToLandscapeButton'
          @onClick={{this.openLandscapeView}}
          @type='secondary'
          @outline={{true}}
          title='Back to Landscape View'
        >
          {{svg-jar 'reply-16' class='octicon align-middle'}}
        </BsButton>
      </div>

    {{else}}
      {{#if this.showVR}}

        <VrRendering
          @id='vr-rendering'
          @landscapeData={{this.landscapeData}}
          @components={{this.components}}
          @openDataSelection={{this.openDataSelection}}
          @closeDataSelection={{this.closeDataSelection}}
          @showDataSelection={{this.showDataSelection}}
          @toggleVisualizationUpdating={{this.toggleVisualizationUpdating}}
          @visualizationPaused={{this.visualizationPaused}}
          @applicationArgs={{this.applicationArgs}}
          @debugMode={{this.flag}}
        />

      {{else}}
        <Visualization::Rendering::BrowserRendering
          @id='browser-rendering'
          @isDisplayed={{this.allLandscapeDataExistsAndNotEmpty}}
          @landscapeData={{this.landscapeData}}
          @components={{this.components}}
          @componentsToolsSidebar={{this.componentsToolsSidebar}}
          @removeToolsSidebarComponent={{this.removeToolsSidebarComponent}}
          @closeDataSelection={{this.closeDataSelection}}
          @closeToolsSidebar={{this.closeToolsSidebar}}
          @openSettingsSidebar={{this.openSettingsSidebar}}
          @openToolsSidebar={{this.openToolsSidebar}}
          @showSettingsSidebar={{this.showSettingsSidebar}}
          @showToolsSidebar={{this.showToolsSidebar}}
          @toggleSettingsSidebarComponent={{this.toggleSettingsSidebarComponent}}
          @toggleToolsSidebarComponent={{this.toggleToolsSidebarComponent}}
          @toggleVisualizationUpdating={{this.toggleVisualizationUpdating}}
          @addComponent={{this.addComponent}}
          @visualizationPaused={{this.visualizationPaused}}
          @resetLandscapeListenerPolling={{this.resetLandscapeListenerPolling}}
          @removeTimestampListener={{this.removeTimestampListener}}
          @restructureLandscape={{this.restructureLandscape}}
          @switchToAR={{this.switchToAR}}
          @applicationArgs={{this.applicationArgs}}
        />
      {{/if}}

      {{#unless this.allLandscapeDataExistsAndNotEmpty}}
        <div class='container-fluid mt-6'>
          <div class='jumbotron'>
            {{#if this.isLandscapeExistentAndEmpty}}
              <h2>Empty Landscape received!</h2>
            {{else}}
              <h2>No Landscape found!</h2>
            {{/if}}
            <p>A new landscape will be fetched every 10 seconds.</p>
          </div>
          <div class='spinner-center-3' role='status'></div>
        </div>
      {{/unless}}
    {{/if}}
  {{/if}}
</div>
{{! timeline }}

{{#if this.showTimeline}}
  <div id='timeline-content'>
    <BsButton
      @onClick={{this.toggleTimeline}}
      @type='secondary'
      @outline={{true}}
      class='btn-timeline'
      title={{if this.isTimelineActive 'Hide Timeline' 'Show Timeline'}}
    >

      {{#unless this.isTimelineActive}}
        <span class='pr-1'>Show Timeline</span>
      {{/unless}}
      {{svg-jar
        'chevron-up-16'
        id='hidetimeline-icon'
        class=(if
          this.isTimelineActive
          'octicon align-middle hidetimeline-icon-down'
          'octicon align-middle'
        )
      }}
    </BsButton>

    {{#if this.showVrButton}}
      <button
        class='timeline-vr-button'
        type='button'
        {{did-insert this.updateVrStatus}}
        {{on 'click' this.switchToVR}}
      >
        {{this.buttonText}}
      </button>
    {{/if}}
    <div
      id='timeline'
      class='timeline {{unless this.isTimelineActive "timelinehide"}}'
    >
      <Visualization::PageSetup::Timeline::PlotlyTimeline
        @timestamps={{this.timelineTimestamps}}
        @clicked={{this.timelineClicked}}
        @highlightedMarkerColor={{this.highlightedMarkerColor}}
        @setChildReference={{this.getTimelineReference}}
      />
    </div>
  </div>
{{/if}}

<Visualization::Rendering::PlayPauseButton />