{{#if this.showDummyTimeline}}
  <div class='timeline-no-timestamps-outer'>
    <div class='timeline-no-timestamps-inner'>
      No timestamps available!
    </div>
  </div>
  <div
    class='plotlyDiv timeline-blur-effect'
    {{did-insert this.setupPlotlyTimelineChart}}
  >
  </div>

{{else}}
  <div style='display:flex' class='flex-row'>
    <div style='width: 75px; margin-left: 5px '>
      <div style='font-weight: bold;'>Filter</div>
      <div>Max:</div>
      <Input
        id='maxRequestFilter'
        class='form-control input-lg'
        placeholder='∞'
        {{on 'input' this.setMaxRequestFilter}}
      />
      <div>Min:</div>
      <Input
        id='minRequestFilter'
        class='form-control input-lg'
        placeholder='0'
        {{on 'input' this.setMinRequestFilter}}
      />
    </div>
    <div
      style='width: 100%;'
      class='plotlyDiv'
      {{on 'mouseenter' this.handleMouseEnter}}
      {{on 'mouseleave' this.handleMouseLeave}}
      {{did-update this.updatePlotlyTimelineChart @timelineDataObject}}
      {{did-insert this.setupPlotlyTimelineChart}}
    >
    </div>
  </div>
{{/if}}